#questionContainer {
    display: none;
}

button {
    background-color: #454595;
    color: white;
    border-radius: 8px;
    border-style: none;
    max-width: fit-content;
    margin: 3px;
    cursor: pointer;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 35px;
    padding: 10px;
}

button:hover,
button:focus {
    background-color: rgb(125, 125, 184);
}

body {
    font-family: 'Karla', sans-serif;
    background-color: #E5DCC5;
}

h1 {
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-family: 'Quattrocento Sans', sans-serif;
}

#indexNav {
    display: flex;
    justify-content: space-between;
}

#indexNav a,
#indexNav div{
    text-decoration: none;
    margin: 10px;
    color: black;
    font-weight: bold;
}